@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

$dark: #252525;
$light: #eee;
$primary: #bc6ff1;

*,
*::before,
*::after,
*::placeholder {
  color: $light;
  letter-spacing: 1.5px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.2rem;
}
p,
a,
td,
li,
label,
input,
button {
  font-size: 1rem;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: $dark;

  section {
    height: 100vh;

    h2 {
      text-align: center;
      margin: 20px 0;
    }
  }
}

.container {
  width: 1100px;
  margin: auto;
  @media only screen and(max-width: 1200px) {
    width: 95%;
  }
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

textarea {
  min-height: 120px;
  max-height: 250px;
  resize: vertical;
}

input,
textarea {
  background-color: transparent;
  border: none;
  outline: none;

  &[type="submit"] {
    border-radius: 5px;
    background-color: $primary;
  }
}

.select,
.list,
input,
textarea {
  width: 300px;
  border: solid 2px $primary;
  cursor: pointer;
}

.select,
.list,
input {
  transition: 0.2s;
}

.select,
input,
textarea {
  padding: 10px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

input:hover,
textarea:hover,
.select:hover,
.select:hover .list,
.select.open,
.select.open .list,
input:focus,
textarea:focus {
  box-shadow: 4px 4px 4px $primary;
}

// .select {
//   position: relative;

//   &::after {
//     content: "";
//     padding: 3px;
//     position: absolute;
//     right: 15px;
//     border: solid $primary;
//     border-width: 0 3px 3px 0;
//     display: inline-block;
//     transform: rotate(45deg);
//     -webkit-transform: rotate(45deg);
//   }

//   &.open {
//     .list {
//       max-height: 300px;
//       top: calc(100% + 2px);
//       z-index: 1;
//     }
//   }

//   .list {
//     max-height: 0;
//     position: absolute;
//     top: 100%;
//     left: -2px;
//     background-color: $dark;
//     border-bottom-left-radius: 5px;
//     border-bottom-right-radius: 5px;
//     border-top: none;
//     overflow: hidden;

//     p {
//       width: 100% !important;
//       padding: 10px 15px;
//       cursor: pointer;
//       transition: 0.3s;

//       &:hover {
//         background-color: rgba($color: $primary, $alpha: 0.3);
//       }
//     }
//   }
// }

#task1 {
  .row {
    align-items: center;
  }
}

#task2,
#task4 {
  .row {
    align-items: flex-start;
  }
}

#task1,
#task2,
#task4 {
  .row {
    margin: 10px 0;
    justify-content: space-between;

    input[type="text"],
    textarea {
      width: calc(100% - 300px - 10px);
    }
  }
}

#toast {
  min-width: 250px;
  max-width: 650px;
  padding: 20px;
  border-radius: 5px;
  position: fixed;
  right: 3rem;
  bottom: 2rem;
  font-weight: 900;
  letter-spacing: 0.5px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  z-index: 100;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  &.error {
    color: $light;
    background-image: linear-gradient(-35deg, rgb(177, 17, 17) 0, rgb(248, 72, 72) 100%);
  }

  &.success {
    color: $light;
    background-image: linear-gradient(-35deg, rgb(0, 123, 43) 0, rgb(26, 162, 49) 100%);
  }
}

::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
  background-color: $light;

  &-thumb {
    border-radius: 0.2rem;
  }
}

::-webkit-scrollbar-button:vertical:start:decrement {
  background: linear-gradient(120deg, $light 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, $light 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(0deg, $light 30%, rgba(0, 0, 0, 0) 31%);
}

::-webkit-scrollbar-button:vertical:end:increment {
  background: linear-gradient(300deg, $light 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(60deg, $light 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(180deg, $light 30%, rgba(0, 0, 0, 0) 31%);
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background: linear-gradient(30deg, $light 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(150deg, $light 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(270deg, $light 30%, rgba(0, 0, 0, 0) 31%);
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background: linear-gradient(210deg, $light 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(330deg, $light 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(90deg, $light 30%, rgba(0, 0, 0, 0) 31%);
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment {
  background-color: grey;

  &:hover {
    background-color: $primary;
  }
}
